
resume-workshop/questions_for_adam
Items_for_me/questions_for_adam
resume-workshop/questions_for_adam
Items_for_me/style.css
Items_for_me/index-2.html
Items_for_me/index-2_mod.html
Items_for_me/index-css2-cc.html
Items_for_me/index-css1-cc.html
Items_for_me/style-css1.css
Items_for_me/style-css2.css
xd-tutorial/wireframe/xd-digital-marketing-design-kit.xd
xd-tutorial/wireframe/fresh-food-ui-kit.xd
xd-tutorial/Images/social_icons.xd
student_index.html
Items_for_me/midterm_key_pt_1
Items_for_me/midterm_key/img/rapinoe1.jpg
Items_for_me/midterm_key/img/rapinoe2.jpg
Items_for_me/midterm_key/img/rapinoe3.jpg
Items_for_me/midterm_key/img/rapinoe4.jpg
Items_for_me/midterm_key/midterm_index.html
Items_for_me/midterm_key/midterm_key_pt_1
Items_for_me/midterm_key/student-css.css
Items_for_me/midterm_key/student_html.html
Items_for_me/midterm_key/style-css.css
Items_for_me/Midterm_review/images/dog.jpg
Items_for_me/Midterm_review/index.html
Items_for_me/Midterm_review/style.css
Items_for_me/Midterm_review/stylesheet.css
